header h1 {
    color: blue;
    text-align: center;
}

p {
    text-align: left;
    color: yellow;
}

table {
    text-align: center;
}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrx5JlZ1iB5YLfKu9nntOPj6PFXI2zo4u6vQ&s");
    padding: 0px;
    margin: 0px;
}

footer h2 {
    color: white;
}

main {}

main p {
    color: black;
}


nav a {
    color: white;
    border-radius: 3px;
    background-color: blue;
    margin: 10px;
    padding: 3px;
    text-decoration: none;

}

header h2 {
    color: white
}

.divider1 {
    margin: 10px;
    padding: 3px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI4AFJd-uh8QtfLaL0MCR2ymXfDRfhwqq7hA&s);
}

.divider1 h2 {
    text-align: center;
}

.budgettable {
    background-color: yellow;
}


.toptable {
    background-color: green;
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
}

.cputable {
    background-color: blue;
    border: 3px solid black;
}

.cputable td {
    border: 3px solid black;
}

.ssdtable {
    background-color: gray;
}

h3 {
    color: white;
    text-align: center;
}
